{% extends 'base3.html' %}
{% load static %}

{% block content %}
	{% if form.errors %}
		<p class="error"> Invalid Student info </p>
  {% endif %}
  
     
          <div class="col-lg-14 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" ><h1 style="margin-left: 300px;color: lightcoral;text-decoration: underline;margin-bottom: 50px;">Students Details</h1></h4>
                  
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Student_id</th>
                          <th>First Name</th>
                          <th>Middle Name</th>
                          <th>Last Name</th>
                          
                          <th>Date Of Birth</th>
                          
                          <th>Address</th>
                          
                          
                          <th>Contact No</th>
                          <th>Email id</th>
                          
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in items %}
                        <tr>
                          <td>{{i.studentid}}</td>
                          <td>{{i.student_fname}}</td>
                          <td>{{i.student_mname}}</td>
                          <td>{{i.student_lname}}</td>
                          
                          <td>{{i.dob}}</td>
                          
                          <td>{{i.address}}</td>
                          
                          <td>{{i.contactno}}</td>
                          
                          <td>{{i.email}}</td>
                          
                          <td>
                              <div class="template-demo">
                                  <button type="button" class="btn btn-outline-primary btn-rounded btn-fw" data-toggle="modal" data-target="#basicExampleModal1">Edit</button>
                                  <a href="/administrator/studentremove/?q={{i.studentid}}" class="btn btn-outline-primary btn-rounded btn-fw">Remove item</a>&nbsp;
                              </div>
                          </td>
                        </tr>
                        {% endfor %}
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- Modal 2 -->
<div class="modal fade" id="basicExampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Student Details</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="forms-sample" action="Student.html">
          <div class="form-group">
              <label for="exampleInputName1">Student Id</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Student_id">
            </div>
        <div class="form-group">
          <label for="exampleInputName1">First Name</label>
          <input type="text" class="form-control" id="exampleInputName1" placeholder="FirstName">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Middle Name</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="MiddleName">
          </div>
          <div class="form-group">
              <label for="exampleInputName1">Last Name</label>
              <input type="text" class="form-control" id="exampleInputName3" placeholder="LastName">
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Father Name</label>
              <input type="text" class="form-control" id="exampleInputName3" placeholder="FatherName">
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Mother Name</label>
              <input type="text" class="form-control" id="exampleInputName3" placeholder="MotherName">
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Date of Birth</label>
              <input type="date" class="form-control" id="exampleInputName3" placeholder="date of Birth" readonly>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Coursee Type</label>
                <select class="form-control">
                  <option hidden selected></option>
                  <option>B.Tech</option>
                  <option>Diploma</option>
                  <option>Bcom</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="exampleTextarea1">Address</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Blood Group</label>
                    <select class="form-control">
                      <option hidden selected></option>
                      <option>A+</option>
                      <option>A-</option>
                      <option>B+</option>
                      <option>B-</option>
                      <option>O+</option>
                      <option>O-</option>
                      <option>AB+</option>
                      <option>AB-</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputName1">Registration date</label>
                      <input type="date" readonly class="form-control" id="exampleInputName3" placeholder="Registration date">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Contact No:</label>
                      <input type="number" class="form-control" id="exampleInputPassword4" placeholder="Contact No">
                    </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" readonly>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail3">Collage id no</label>
            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Collage id no" readonly>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    
  </div>
</div>
</div>
{% endblock %}